<html>
<head>
<link rel="stylesheet" type="text/css" href="/templates/share_property.css">
</head>
<body>
<h4>{{ title }}</h4>
<p>{{_("Dear {0}".format(first_name))}},</p>
<p>{{_("Properties for the following criteria are available in Propshikari. Please search the properties for following criteria.")}}</p>


<p><strong>Property Type:</strong>{{ prop_data.get("property_type", "") }}</p>
<p><strong>Property Subtype:</strong>{{ prop_data.get("property_subtype", "") }}</p>
<p><strong>Operation:</strong>{{ prop_data.get("operation", "") }}</p>
<p><strong>Budget Minimum:</strong>{{ prop_data.get("budget_minimum", "") }}</p>
<p><strong>Budget Maximum:</strong>{{ prop_data.get("budget_maximum", "") }}</p>
<p><strong>Area Minimum:</strong>{{ prop_data.get("area_minimum", "") }}</p>
<p><strong>Area Maximum:</strong>{{ prop_data.get("area_maximum", "") }}</p>
<p><strong>Location:</strong>{{ prop_data.get("location", "") }}</p>

<br>
<br>
<br>
<p>{{_("Thank you")}}<br>
{{_("Team Propshikari.com")}}<br>
{{_("Ph No - 02065420999")}}</p>
</body>
</html>
